<footer>
  <div class="container">
    {{ if and (ne .Kind "404") (ne .Kind "taxonomy") -}}
    <section class="section">
      <div class="container container-features">
        <div class="row justify-content-center">
          <div class="col-10 text-center">
            <h2 class="display-3 fw-normal text-white text-features">Discover our resources</h2>
          </div>
        </div>
        <div class="row g-4">
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card h-100">
              <div class="card-body">
                <p class="font-monospace">Documentation</p>
                <h2 class="card-title custom-title-width">Learn more in our docs</h2>
                <p class="card-text">Thanks to our amazing contributors, our docs are the best place to learn, troubleshoot, and explore Thulite.</p>
              </div>
              <div class="card-footer">
                <a class="btn btn-lg btn-primary rounded-pill mb-1" href="https://docs.thulite.io/" role="button"><span>Start Learning</span></a>
              </div>
            </div>
          </div>
          <div class=" col-12 col-md-6 col-lg-4">
            <div class="card h-100">
              <div class="card-body">
                <p class="font-monospace">Get started</p>
                <h2 class="card-title custom-title-width">Explore Thulite themes</h2>
                <p class="card-text">Discover themes to take your project to the next level: blog, portfolio, documentation themes and more.</p>
              </div>
              <div class="card-footer">
                <a class="btn btn-lg btn-primary rounded-pill mb-1" href="https://thulite.io/themes/" role="button"><span>Explore Themes</span></a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card h-100">
              <div class="card-body">
                <p class="font-monospace">Community</p>
                <h2 class="card-title custom-title-width">Join our community</h2>
                <p class="card-text">Get support, get involved, and join our community of Thulite developers — it all happens on Discussions.</p>
              </div>
              <div class="card-footer">
                <a class="btn btn-lg btn-primary rounded-pill mb-1" href="https://github.com/orgs/gethyas/discussions" role="button"><span>Join Discussions</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {{ end -}}
    <hr>
    <div class="row nav-tertiary">
      <div class="col-md-6">
        <ul class="list-inline text-center text-md-start">
          {{ range .Site.Menus.legal -}}
            <li class="list-inline-item">
              <a href="{{ .URL | absURL }}">{{ .Name }}</a>
            </li>
          {{ end -}}
          </ul>
      </div>
      <div class="col-md-6">
        <p class="m-0 text-center text-md-end">{{ site.Params.starter.footer | safeHTML }}</p>
      </div>
    </div>
  </div>
</footer>
